@{
    ViewData["Title"] = "Trang Chủ";
}
<h1 class="text-center text-primary">Chào mừng đến với Web Bán Hàng</h1>
<p class="text-center">Hãy khám phá các sản phẩm tuyệt vời của chúng tôi!</p>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Sản phẩm 1">
            <div class="card-body">
                <h5 class="card-title">Sản phẩm 1</h5>
                <p class="card-text">Mô tả ngắn về sản phẩm.</p>
                <a href="#" class="btn btn-primary">Mua ngay</a>
            </div>
        </div>
    </div>
    <!-- Lặp lại các sản phẩm khác -->
</div>
